.js-clock{
    display: flex;
    justify-content: center;
    align-items: center;
    height:  100vh;
}

.js-form{
    display: flex;
    justify-content: center;
    align-items: center;

}

.show {
    display: block;
}